.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-intro 1 0.7s ease-in;
  height: 45vmin;
}


h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 34px;
}

h3 span {
  display: inline-block;
  color: black;
  animation: subtitle-intro 1 1.25s ease-in;
}

.App-header {
  background-color: #fef7f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-intro {
  from {
    transform: scale(0.05);
  }
  to {
    transform: scale(1);
  }
}

@keyframes subtitle-intro{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes subtitle-intro{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}  



