/*  OCM BLUE: #19d8d6
 *  whitish pink: #FBF5F2
 *  Charcoal: #54434f
 *  dark pinkish red: #D72847
 *  light pinkish red: #efa9b5
 *  yellow: #FECC63
 */

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App-logo {
  /*animation: App-logo-appear 1 0.7s ease-in;*/
  height: 290px;
  margin-top: 30px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 1.4px;
  margin-top: 8px;
}

h1 span.em {
  font-weight: 500;
}

h2 {
  font-weight: 300; 
  font-size: 22px;
  margin-top: 40px;
}

.button {
  border: 0;
  font-size: 18px;
  font-weight: 900;
  box-shadow: none;
  border-radius: 8px;
  padding: 23px 6px;
  margin-top: 54px;
  margin-bottom: 44px;
  letter-spacing: -0.5px;
  word-spacing: 2px;
  display: block;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	cursor: pointer;
  background: none;
  outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #D72847;
	color: #D72847;
 } 

.button:hover,
.button:active {
	color: white;
	background: #D72847;
}

.contact-container {
  margin-top: 75px;
}

.contact-label {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: -0.25px;
}

.contact {
  font-size: 14px;
  margin-top: 4px;
  font-weight: 300;
  letter-spacing: -0.1px;
}

.contact a {
  color: black;
  text-decoration: none;
  font-weight: 300;
  padding-left: 1px;
}

@media screen and (max-width: 600px) {
  .App-logo {
    height: 225px;
  }
  h1 {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
  h2 {
    font-size: 17px;
  }
  .button {
    font-size: 17px;
    margin-top: 56px;
    margin-bottom: 56px;
    letter-spacing: -1.1px;
    word-spacing: 1.2px;
    width: 290px;
  }
  .contact-container {
    margin-top: 50px;
  }
}


