/*  OCM BLUE: #19d8d6
 *  whitish pink: #FBF5F2
 *  Charcoal: #54434f
 *  dark pinkish red: #D72847
 *  light pinkish red: #efa9b5
 *  yellow: #FECC63
 */

.Thanks {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Thanks .logo {
  /*animation: App-logo-appear 1 0.7s ease-in;*/
  width: 360px;
  margin-top: 30px;
  margin-bottom: 0;
}

.Thanks h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 1.4px;
  margin-top: 1px;
  margin-bottom: 30px;
}

.Thanks h1 span.em {
  font-weight: 500;
}

.Thanks h2 {
  font-weight: 300; 
  font-size: 22px;
  margin-top: 50px;
}

.Thanks #share {
	width: 100%;
  margin: 20px auto;
  text-align: center;
}

/* buttons */

.Thanks #share a {
	width: 50px;
  height: 50px;
  display: inline-block;
  margin: 8px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
	opacity: 0.75;
	transition: opacity 0.15s linear;
}

.Thanks #share a:hover {
	opacity: 1;
}

/* icons */

.Thanks #share svg {
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.Thanks .social {
  background: #D72847;
}

/* colors */



@media screen and (max-width: 600px) {
  .Thanks .logo {
    width: 300px;
    margin-top: 40px;
  }
  .Thanks h1 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
  .Thanks h2 {
    font-size: 17px;
    margin-top: 50px;
  }
  .Thanks #share a {
    margin: 5px;
  }
}


