/*  OCM BLUE: #19d8d6
 *  whitish pink: #FBF5F2
 *  Charcoal: #54434f
 *  dark pinkish red: #D72847
 *  light pinkish red: #efa9b5
 *  yellow: #FECC63
 */

.Thanks {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #FBF5F2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  /*animation: App-logo-appear 1 0.7s ease-in;*/
  width: 380px;
  margin-top: 60px;
  margin-bottom: 0;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 1.4px;
  margin-top: 10px;
}

h1 span.em {
  font-weight: 500;
  font-style: italic;
  padding-right: 3px;
  padding-left: -1px;
}

h2 {
  font-weight: 300; 
  font-size: 22px;
  margin-top: 50px;
}

#share {
	width: 100%;
  margin: 20px auto;
  text-align: center;
}

/* buttons */

#share a {
	width: 50px;
  height: 50px;
  display: inline-block;
  margin: 8px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
	opacity: 0.75;
	transition: opacity 0.15s linear;
}

#share a:hover {
	opacity: 1;
}

/* icons */

#share svg {
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.social {
  background: #D72847;
}

/* colors */



@media screen and (max-width: 600px) {
  .logo {
    width: 300px;
    margin-top: 40px;
  }
  h1 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }
  h2 {
    font-size: 17px;
    margin-top: 30px;
  }
  .button {
    font-size: 17px;
    margin-top: 44px;
    margin-bottom: 54px;
    word-spacing: 0;
    width: 190px;
  }

  #share a {
    margin: 5px;
  }
}


